<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>
        <%=university%>
    </title>
</head>

<body>
    <h1>Showing the courses of <%=faculty%>
            <%=duration%>
    </h1>
    <ol>
        <li><a href="/<%=university%>/<%=faculty%>/<%=duration%>/physics">Physics</a></li>
        <li>C Programming</li>
        <li>Applied Mechanics</li>
    </ol>
</body>

</html>