<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>
        <%=university.toUpperCase()%>
    </title>
</head>

<body>
    <h1>Showing the duration of a <%=faculty%> faculty at <%=university%> University</h1>
    <ol>
        <li><a href="/<%=university%>/<%=faculty%>/semester1">Semester 1</a></li>
        <li><a href="/<%=university%>/<%=faculty%>/semester2">Semester 2</a></li>
        <li><a href="/<%=university%>/<%=faculty%>/semester3">Semester 3</a></li>
        <li><a href="/<%=university%>/<%=faculty%>/semester4">Semester 4</a></li>
        <li><a href="/<%=university%>/<%=faculty%>/semester5">Semester 5</a></li>
        <li><a href="/<%=university%>/<%=faculty%>/semester6">Semester 6</a></li>
        <li><a href="/<%=university%>/<%=faculty%>/semester7">Semester 7</a></li>
        <li><a href="/<%=university%>/<%=faculty%>/semester8">Semester 8</a></li>
    </ol>
</body>

</html>