<%layout('layouts/boilerplate')%>
    <div style="text-align: center;">
        <h1>Edit Campground</h1>
        <form action="/campgrounds/<%=foundCampground._id%>?_method=PATCH" method="POST">
            <label for="title">Title</label>
            <input type="text" id="title" name="title" value="<%=foundCampground.title%>">
            <br>
            <label for="price">Price</label>
            <input type="number" id="price" step="0.01" name="price" value="<%=foundCampground.price%>">
            <br>
            <label for="location">Location</label>
            <input type="text" id="location" name="location" value="<%=foundCampground.location%>">
            <br>
            <textarea name="description" id="description" cols="30" rows="10" placeholder="Description">
                <%=foundCampground.description%>
            </textarea>
            <br>
            <button>Edit</button>
        </form>
    </div>
