<%layout('layouts/boilerplate')%>
    <div style="text-align: center;">
        <h1>About</h1>
        <hr>
        <h2>
            Name: <%=foundCampground.title%>
        </h2>
        <h2>
            Price: <%=foundCampground.price%>
        </h2>
        <h2>
            Location: <%=foundCampground.location%>
        </h2>
        <p>
            Description: <%=foundCampground.description%>
        </p>
        <hr>
        <a href="/campgrounds">Back</a>
        <a href="/campgrounds/<%=foundCampground._id%>/edit">Edit</a>
        <form action="/campgrounds/<%=foundCampground._id%>?_method=DELETE" method="POST">
            <button>Delete</button>
        </form>
    </div>

